@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmar Registo";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Esta aplicação não possui um envio de email real, por isso para confirmar a sua conta, clique na seguinte ligação: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clique aqui para confirmar a sua conta</a>
</p>
    }
    else
    {
<p>
        Isto não deveria acontecer. Por favor, contacte o administrador.
</p>
    }
}

