@{
    ViewData["Title"] = "Acerca dos Autores";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Estacionamento Privado</title>
    <style>
        body {
            background-image: url("https://media.istockphoto.com/id/1085153508/pt/foto/blurred-background-of-parking-lot.jpg?s=612x612&w=0&k=20&c=FRsnvnpyQoItf3UGUYHTPgiIq0nIa6jMOqK3572nm7k=");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 100%;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
            z-index: 2;
            background-color: rgba(255, 255, 255, 0.75);
        }

        h1 {
            font-size: 48px;
            color: #333;
            margin-top: 0;
        }

        h2 {
            text-align: left;
        }

        ul{
            text-align: left;
        }

        p {
            font-size: 24px;
            color: #666;
            margin-bottom: 30px;
            text-align: left;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1>Sobre os Autores do Projeto .NET</h1>
        <p>O projeto .NET foi criado por uma equipe talentosa de alunos da unidade curricular de Desenvolvimento Web 2022/23.</p>

        <h2>Equipa de Desenvolvimento</h2>
        <ul>
            <li>Marcelo Matos</li>
            <li>Gonçalo Alpalhão</li>
        </ul>

        <a href="https://github.com/Marcel0Mat0s/LotusPark">Repositório GitHub</a>
    </div>
</body>
</html>

