@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Estacionamento Privado</title>
    <style>
        body {
            background-image: url("https://media.istockphoto.com/id/1085153508/pt/foto/blurred-background-of-parking-lot.jpg?s=612x612&w=0&k=20&c=FRsnvnpyQoItf3UGUYHTPgiIq0nIa6jMOqK3572nm7k=");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 100%;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
            z-index: 2;
            background-color: rgba(255, 255, 255, 0.75);
        }

        h1 {
            font-size: 48px;
            color: #333;
            margin-top: 0;
        }

        p {
            font-size: 24px;
            color: #666;
            margin-bottom: 30px;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <div class="container">
        <p>Na LotusPark, estamos empenhados em proteger a sua privacidade. Nós levamos isso tão a sério que decidimos não recolher absolutamente nenhum dado dos nossos estimados utilizadores. Sim, é verdade! Somos tão obscuramente honestos que nem queremos saber o seu nome, endereço, ou qualquer outra informação pessoal. Não, não precisamos disso!</p>
        <p>A nossa aplicação de Gestão de Reservas de Estacionamento Privado é tão puramente local que até dá arrepios pensar em recolher dados dos utilizadores. Sabemos que é uma experiência refrescante num mundo onde todos parecem querer saber tudo sobre todos. Mas acredite, estamos firmes no nosso compromisso de não recolher nada, absolutamente nada. É como se fôssemos invisíveis aos seus dados pessoais.</p>
        <p>Por isso, relaxe e desfrute dos nossos serviços de reserva de estacionamento sem se preocupar com as táticas comuns de recolha de dados. Estamos aqui para simplificar a sua vida e manter os seus dados completamente intactos, como uma obra de arte intocada. Não poderíamos estar mais satisfeitos em não saber nada sobre si!</p>
        <p>Agradecemos a sua confiança na LotusPark, onde o anonimato é o nosso segundo nome.</p>
    </div>
</body>
</html>
