@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Erro</title>
</head>
<body>
    <div class="container">
        <h1>Ups! Aconteceu um erro.</h1>
        <p>Pedimos imensa desculpa pela inconveniência, mas ocorreu um erro enquanto processávamos o seu pedido.</p>
        <p>Claro que temos todo o prazer em fornecer informações detalhadas sobre o erro, como o código hexadecimal complicado que só faz sentido para programadores com QI de gênio. Mas vamos manter isso em segredo. Afinal, quem precisa de clareza e transparência nestes tempos modernos?</p>
        <p>Sugerimos que tente novamente mais tarde, pois é altamente provável que o erro persista indefinidamente. E, claro, se quiser testar a sua paciência ao extremo, sinta-se à vontade para contactar a nossa equipa de suporte, que ficará encantada em ignorar o seu pedido com respostas predefinidas.</p>
    </div>
</body>
</html>

